body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    margin: 5% auto;
    max-width: 73%;
    line-height: 1.8;
    font-size: 18px;
    padding: 0 2.4em;
    color: #444444;
    background-color: #f2f2f2;
    text-shadow: 0 1px 0 #ffffff;
}

h1, h2, h3 {
    color: #777;
    line-height: 1;
}

a {
    border-bottom: 0; 
    color: #8e8e8e;
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
    color: #696969;
    text-decoration: none;
}

code {
    font-family: 'Roboto Mono', monospace;
    padding: .25em;
    line-height: 0.5;
}

.prew {
    display: block;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: 'Quicksand', sand-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    max-width: 100%;
}

.overlay:hover {
    opacity: 1;
}

.overlay > *  {
    transform: translateY(20px);
    transition: transform 0.25s;
}


.overlay:hover > *  {
    transform: translateY(0);
}

.overlay-blur {
    backdrop-filter: blur(5px);
    
}

.title {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 0px 0 #ffffff;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row > div {
    flex-basis: 50%;
    padding-left: 16px;
}

.column {
    flex: 50%;
    padding: 10px;
}

.header {
    padding: 0 2.4em 50px 0;
}

.hover {
    position: relative;
}

.shrink img {
    transition: 0.2s ease;
}

.shrink img:hover{
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    transition: 0.1s ease;
}

.post-footer {
    font-size: 15px;
    padding-top: 50px;
}

.published {
    width: 12px;
    height: 12px;
    padding-right: 3px;
}

.views {
    width: 12px;
    height: 12px;
    padding-right: 6px;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	font-size: 16px;
	visibility: hidden;
	width: 150px;
	background-color: #444444;
	color: #f2f2f2;
	text-align: center;
	border-radius: 6px;
	padding: 10px 0;
	position: absolute;
	z-index: 1;
	bottom: 200%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #444444 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.container {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 20em;
}

.container .wallet {
	font-size: 25px;
	margin: 40pt;
}

.currency-name {
	font-size: 10pt;
	line-height: 0;
	margin-left: 75px;
}
		
.icon:hover {
	opacity: 0.7;
	filter: alpha(opacity=40);
}

.address {
	background-color: transparent; 
	color: #aba7a7;
}
		
.address:hover {
	color: #5c5c5c;
}
		
.modal {
	display: none; 
	position: fixed;
	z-index: 1; 
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9); 
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 300px;
}
		
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ffffff;
	padding: 10px 0;
	height: 150px;
}

.modal-content, #caption {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.3s;
	animation-name: zoom;
	animation-duration: 0.3s;
}
		
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
}
		
@keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
}

.close {
	color: #f1f1f1;
	font-weight: bold;
	transition: 0.3s;
}
		
.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
		
@media only screen and (max-width: 700px) {
	.modal-content {
	width: 100%;
	}
}






































